@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&family=Lexend+Giga:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}

body {
    font-family: 'Lexend Deca', sans-serif;
    background-color: #121212;
}

main {
    margin: 0 auto;
    margin-top: 130px;
    max-width: 1250px;

}

.container {
    width: 600px;
    height: auto;
    margin: 0 auto;
    border-radius: 20px;
    padding: 40px 78px;
    box-sizing: border-box;
    background: linear-gradient(180deg, #FBFBFB 0%, #E9E9E9 100%);
}

.login-title {
    color: #ed0133;
    letter-spacing: 1px;
    text-align: center;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
}

.login-description {
    font-size: 16px;
    text-align: center;
    margin-top: 15px;
}

.loginForm {
    margin-top: 25px;
    display: flex;
    flex-direction: column;
}

.input-conteiner {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.label-input {
    font-size: 18px;
}

.input-loginForm::placeholder {
    color: rgba(0, 0, 0, 0.37);
}

.input-loginForm {
    caret-color: red;
    text-align: left;
    margin-top: 10px;
    background-color: #ffffff;
    padding: 10px;
    padding-left: 20px;
    height: 50px;
    font-size: 14px;
    border-radius: 50px;
    border: 1px solid #a8a8a8;
}

.input-conteiner p {
    text-align: right;
}

.login-enlaces {
    font-size: 12px;
    color: gray;
    margin-top: 5px;
    text-align: right;
}

.button-login {
    color: white;
    background-color: #ed0133;
    height: 40px;
    cursor: pointer;
    font-weight: 700;
    transition: 0.5s;
    width: 216px;
    margin: 0 auto;
    border: none;
    height: 53px;
    border-radius: 50px;
    font-family: 'Lexend Deca', sans-serif;
    font-size: 26px;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);

}

.loginForm button:hover {
    box-shadow: none;
}


.mensaje {
    text-align: center;
    padding: 4px;
    color: white;
}

.mensaje-title {
    font-size: 30px;
    font-weight: 700;
    margin-top: 25px;
}

.mensaje-description {
    font-size: 18px;
    margin-top: 20px;
    line-height: 1.5;
    margin-bottom: 15px;
}

.mensaje-enlace {
    text-decoration: underline;
    color: white;
}

.button-registrarse {
    color: white;
    background-color: #353535;
    cursor: pointer;
    font-weight: 700;
    transition: 0.5s;
    width: 230px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 40px;
    padding: 15px;
    border: none;
    height: 53px;
    border-radius: 50px;
    font-family: 'Lexend Deca', sans-serif;
    font-size: 26px;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.button-registrarse a {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    gap: 15px;
}

/*footer*/

footer {
    background-color: #1e1e1e;
    height: 180px;
}

.footer {
    max-width: 1140px;
    margin: 0 auto;
    width: 100%;
    height: 100%;
}

.footer_content {
    display: flex;
    justify-content: space-between;
    padding: 25px 0;
    align-items: center;
}

.footer_content h4 {
    font-family: 'Lexend Giga', sans-serif;
    color: white;
    font-weight: bold;
    font-size: 20px;
    letter-spacing: -0.05em;
    padding: 20px 0;
}

.footer_content span {
    color: #ed0133;
}

.footer_contact {
    color: white;
    font-weight: 300;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer_contact span {
    color: #ffffff;
    font-weight: 400;
}

.footer_links {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer_links a {
    color: white;
    font-weight: 300;
    font-size: 14px;
}

.footer_social {
    color: #ffffff;
    font-weight: 300;
    font-size: 14px;
}

.footer_social p {
    margin-bottom: 10px;
}

.social_icons {
    display: flex;
    align-items: center;
    gap: 15px;
}

.social_icons a img {
    width: 20px;
}

hr {
    border: 1px solid white;
}

.footer_text {
    color: white;
    font-weight: 300;
    font-size: 14px;
    text-align: center;
    margin-top: 20px;
}