@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&family=Lexend+Giga:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}

iconify-icon {
    color: white;
    font-size: 35px;
}

/* BODY ----------------------------- */
body {
    font-family: 'Lexend Deca', sans-serif;
    background-color: #121212;
}

/* NAV ----------------------------- */
nav {
    padding: 1rem 0;
    background: linear-gradient(to bottom, rgb(255, 255, 255, 0.1), rgb(255, 255, 255, 0.05));
    border-bottom: solid 1px rgb(255, 255, 255, 0.4);
    backdrop-filter: blur(25px);
}

.contenedor {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1080px;
    margin: auto;
}

.logo a {
    font-family: 'Lexend Giga', sans-serif;
    font-size: 24px;
    font-weight: 500;
    letter-spacing: -0.05em;
    color: white;
}

.logo span {
    color: #ed0133;
}

.menu {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
}

.menu a {
    padding: 3px 7px;
    font-size: 16px;
    font-weight: 300;
    color: rgb(255, 255, 255, 0.8);
    text-shadow: 0 2px 4px #121212;
    border: 2px solid transparent;
    border-radius: 18px;
}

.menu #boletería {
    color: white;
    background-color: #ed0133;
}

.menu a:hover {
    color: white;
    border: 2px solid white;
}

/* OPCIONES ----------------------------- */
.opciones {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.opciones a {
    display: flex;
    align-items: center;
    color: white;
}

.icon_texto {
    width: 0;
    opacity: 0;
    overflow: hidden;
    white-space: nowrap;
    transition: opacity 0.3s ease, width 0.3s ease, margin-right 0.3s ease;
}

.opciones a:hover .icon_texto {
    width: auto;
    opacity: 1;
    margin-right: 6px;
}

.material-icons-round {
    color: white;
    font-size: 28px;
}

/* MAIN ----------------------------- */
main {
    margin-top: 93px;
}

/* BOX 1 ----------------------------- */
.box_1 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 40px;
}

.titulo {
    max-width: 400px;
}

.titulo h2 {
    width: 25rem;
    padding: 10px 0 10px 150px;
    background: linear-gradient(to bottom right, #FF0036, #BC0028);
    color: white;
    font-size: 3rem;
    font-weight: 600;
    text-shadow: 2px 2px 4px #121212;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
}

.detalles {
    flex: 1;
    display: flex;
    flex-direction: row;
    gap: 20px;
    color: white;
}

.box_detalle {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px 30px;
}

.box_detalle h3 {
    font-size: 1.5rem;
    font-weight: 600;
}

.box_detalle_text {
    display: flex;
    gap: 5px;
    font-size: 1.2rem;
    font-weight: 300;
}

.icon_watch {
    font-size: 24px;
}

.bubble {
    width: fit-content;
    padding: 5px 12px;
    font-size: 1rem;
    font-weight: 300;
    background-color: #ed0133;
    border-radius: 16px;
    border-bottom-left-radius: 0px;
}

#fecha {
    border-left: 1px solid white;
    border-right: 1px solid white;
}

.box_detalle select {
    padding: 5px 10px;
    font-family: 'Lexend Deca', sans-serif;
    font-size: 1rem;
    font-weight: 300;
    color: white;
    border-radius: 25px;
    cursor: pointer;
    background: linear-gradient(to bottom, rgb(255, 255, 255, 0.1), rgb(255, 255, 255, 0.05));
    backdrop-filter: blur(30px);
}

.box_detalle option {
    background-color: #1e1e1e;
    color: white;
}

/* BOX 2 ----------------------------- */
.box_2 {
    display: flex;
    max-width: 1250px;
    margin: 10px auto 20px auto;
    padding: 0 20px;
}

.box_pelicula {
    display: flex;
    flex-direction: column;
    width: 233px;
    margin: 30px 0 15px 0;
}

.img_pelicula {
    width: 220px;
}

.box_2_texto {
    width: 220px;
    padding-left: 10px;
    padding-bottom: 20px;
    background-color: #1e1e1e;
    color: white;
}

.box_2_texto h4 {
    padding-top: 20px;
    padding-bottom: 5px;
    font-size: 1.3rem;
    font-weight: 500;
}

.box_2_texto p {
    font-size: 1rem;
    font-weight: 300;
}

/* BUTACAS ----------------------------- */
.box-butacas {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    margin: 30px 0 15px 0;
    color: white;
    text-align: center;
}

.seccion-titulo {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.seccion-titulo h2 {
    font-size: 1.5rem;
    font-weight: 600;
}

.seccion-butacas {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    gap: 10px;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    padding: 10px 90px;
    font-size: 1rem;
}

.pantalla {
    background-color: #ed0133;
    font-size: 1.3rem;
    margin-bottom: 15px;
}

.columna {
    display: grid;
    grid-template-columns: repeat(10, 45px);
    justify-content: center;
    gap: 10px;
}

.numero {
    width: 45px;
}

.mapa-butacas {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.fila {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.butacas-fila {
    display: grid;
    grid-template-columns: repeat(10, 45px);
    gap: 10px;
}

.butaca {
    width: 45px;
    height: 35px;
    background-color: #d6d6d6;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.butaca:hover {
    background-color: #999999;
}

.letra {
    height: 25px;
}

.seccion-leyenda {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    padding: 0 100px;
    color: white;
    font-size: 1rem;
}

.butaca_disponible,
.butaca_ocupada,
.butaca_seleccionada {
    width: 45px;
    height: 35px;
    border-radius: 8px;
}

.butaca_disponible {
    background-color: #d6d6d6;
}

.butaca_ocupada {
    background-color: #444;
}

.butaca_seleccionada {
    background-color: #ed0133;
}

.let {
    height: 25px;
    padding: 0 10px;
}

/* BOX 3 ----------------------------- */
.box-compra {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 30px 0 15px 0;
    padding-bottom: 100px;
    width: 100px;
    color: white;
    text-align: center;
}

.resumen {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 50px 0 30px 0;
    font-size: 1.2rem;
}

.butacas-seleccionadas {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.butaca_tag {
    color: #ed0133;
    background-color: white;
    border-radius: 18px;
    padding: 3px 10px;
}

#boton_comprar {
    display: inline-flex;
    align-items: center;
    gap: 10px;
    padding: 10px 15px;
    font-family: 'Lexend Deca';
    font-size: 20px;
    color: #ffffff;
    background-color: #ed0133;
    border: none;
    border-radius: 24px;
    cursor: pointer;
}

.icon_tickets {
    font-size: 24px;
}

/* FOOTER ----------------------------- */
footer {
    background-color: #1e1e1e;
    height: 180px;
}

.footer {
    width: 100%;
    height: 100%;
    max-width: 1080px;
    margin: 0 auto;
}

.footer_content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 0;
}

.footer_content h4 {
    padding: 20px 0;
    font-family: 'Lexend Giga', sans-serif;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: -0.05em;
    color: white;
}

.footer_content span {
    color: #ed0133;
}

.footer_contact {
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: white;
    font-size: 14px;
    font-weight: 300;
}

.footer_contact span {
    color: #ffffff;
    font-weight: 400;
}

.footer_links {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer_links a {
    color: white;
    font-size: 14px;
    font-weight: 300;
}

.footer_social {
    color: #ffffff;
    font-size: 14px;
    font-weight: 300;
}

.footer_social p {
    margin-bottom: 10px;
}

.social_icons {
    display: flex;
    align-items: center;
    gap: 15px;
}

.social_icons a img {
    width: 20px;
}

hr {
    border: 1px solid white;
}

.footer_text {
    margin-top: 20px;
    color: white;
    font-size: 14px;
    font-weight: 300;
    text-align: center;
}

/* EFECTOS */
.butaca {
    transition: background-color 0.2s ease, transform 0.1s ease;
}

.butaca.seleccionada {
    background-color: #ed0133 !important;
    transform: scale(1.05);
}